Repository Krypton-Suite/Standard-Toolkit, pull requests merged in 2025-09, with the labels that each got.

#2471 * Implemented #648 - V85
  Documents/Help/Changelog.md
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonForm.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonLanguageManager.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonThemedSystemMenu.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Visuals/VisualForm.cs
  Source/Krypton Components/Krypton.Toolkit/Converters/KryptonThemedSystemMenuConverter.cs
  Source/Krypton Components/Krypton.Toolkit/Designers/Editors/ThemedSystemMenuItemsEditor.cs
  Source/Krypton Components/Krypton.Toolkit/General/Definitions.cs
  Source/Krypton Components/Krypton.Toolkit/General/KryptonThemedSystemMenuService.cs
  Source/Krypton Components/Krypton.Toolkit/General/PlatformInvoke.cs
  Source/Krypton Components/Krypton.Toolkit/General/ThemedSystemMenuItemCollection.cs
  Source/Krypton Components/Krypton.Toolkit/Global/GlobalDeclarations.cs
  Source/Krypton Components/Krypton.Toolkit/Krypton.Toolkit 2022.csproj
  Source/Krypton Components/Krypton.Toolkit/ResourceFiles/SystemMenu/SystemMenuImageResources.Designer.cs
  Source/Krypton Components/Krypton.Toolkit/ResourceFiles/SystemMenu/SystemMenuImageResources.resx
  Source/Krypton Components/Krypton.Toolkit/Resources/Microsoft365SystemMenuCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Microsoft365SystemMenuMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Microsoft365SystemMenuMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Microsoft365SystemMenuRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlackCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlackMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlackMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlackRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlueCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlueMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlueMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlueRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuSilverCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuSilverMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuSilverMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuSilverRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlackCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlackMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlackMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlackRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlueCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlueMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlueMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlueRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuSilverCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuSilverMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuSilverMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuSilverRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/ProfessionalSystemMenuCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/ProfessionalSystemMenuMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/ProfessionalSystemMenuMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/ProfessionalSystemMenuRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/SparkleSystemMenuCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/SparkleSystemMenuMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/SparkleSystemMenuMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/SparkleSystemMenuRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/ShellDialogs/LocalCallWndProc.cs
  Source/Krypton Components/Krypton.Toolkit/Translations/General/SystemMenuStrings.cs
  Source/Krypton Components/Krypton.Toolkit/Utilities/OSUtilities.cs
  Source/Krypton Components/Krypton.Toolkit/Values/ThemedSystemMenuItemValues.cs
  Source/Krypton Components/Krypton.Toolkit/Values/ThemedSystemMenuValues.cs
Labels: enhancement, new feature, suggestion, area:toolkit

#2470 * Implement #648 - V95
  Documents/Changelog/Changelog.md
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonForm.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonThemedSystemMenu.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Visuals/VisualForm.cs
  Source/Krypton Components/Krypton.Toolkit/Converters/KryptonThemedSystemMenuConverter.cs
  Source/Krypton Components/Krypton.Toolkit/Converters/PaletteClassTypeConverter.cs
  Source/Krypton Components/Krypton.Toolkit/Designers/Editors/ThemedSystemMenuItemsEditor.cs
  Source/Krypton Components/Krypton.Toolkit/General/Definitions.cs
  Source/Krypton Components/Krypton.Toolkit/General/KryptonGlobalToolkitStrings.cs
  Source/Krypton Components/Krypton.Toolkit/General/KryptonThemedSystemMenuService.cs
  Source/Krypton Components/Krypton.Toolkit/General/PlatformInvoke.cs
  Source/Krypton Components/Krypton.Toolkit/General/ThemedSystemMenuItemCollection.cs
  Source/Krypton Components/Krypton.Toolkit/Global/GlobalDeclarations.cs
  Source/Krypton Components/Krypton.Toolkit/Krypton.Toolkit 2022.csproj
  Source/Krypton Components/Krypton.Toolkit/Palette Base/PaletteRedirect/PaletteRedirectTriple.cs
  Source/Krypton Components/Krypton.Toolkit/ResourceFiles/SystemMenu/SystemMenuImageResources.Designer.cs
  Source/Krypton Components/Krypton.Toolkit/ResourceFiles/SystemMenu/SystemMenuImageResources.resx
  Source/Krypton Components/Krypton.Toolkit/Resources/Microsoft365SystemMenuCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Microsoft365SystemMenuMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Microsoft365SystemMenuMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Microsoft365SystemMenuRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlackCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlackMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlackMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlackRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlueCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlueMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlueMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuBlueRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuSilverCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuSilverMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuSilverMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2007SystemMenuSilverRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlackCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlackMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlackMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlackRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlueCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlueMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlueMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuBlueRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuSilverCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuSilverMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuSilverMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/Office2010SystemMenuSilverRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/ProfessionalSystemMenuCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/ProfessionalSystemMenuMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/ProfessionalSystemMenuMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/ProfessionalSystemMenuRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/SparkleSystemMenuCloseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/SparkleSystemMenuMaximiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/SparkleSystemMenuMinimiseNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Resources/SparkleSystemMenuRestoreNormalSmall.png
  Source/Krypton Components/Krypton.Toolkit/Translations/General/SystemMenuStrings.cs
  Source/Krypton Components/Krypton.Toolkit/Utilities/ActiveFormTracker.cs
  Source/Krypton Components/Krypton.Toolkit/Utilities/OSUtilities.cs
  Source/Krypton Components/Krypton.Toolkit/Values/ThemedSystemMenuItemValues.cs
  Source/Krypton Components/Krypton.Toolkit/Values/ThemedSystemMenuValues.cs
  Source/Krypton Components/TestForm/ProgressBarTest.cs
Labels: enhancement, new feature, area:toolkit, version:95

#2447 2446 V100 Implement build.yml workflow for GitHub Actions
  .github/workflows/build.yml
  Documents/Changelog/Changelog.md
Labels: version:100-lts

#2507 * General code cleanup
  .gitignore
  Scripts/ModernBuild/General/AppState.cs
  Scripts/ModernBuild/General/BuildLogic.cs
  Scripts/ModernBuild/General/BuildUI.cs
  Scripts/ModernBuild/General/Definitions.cs
  Scripts/ModernBuild/Global/GlobalDeclarations.cs
  Scripts/ModernBuild/Program.cs
  Scripts/ModernBuild/classes/AppState.cs
  Scripts/ModernBuild/enums/enumerations.cs
  Source/Krypton Components/Krypton.Toolkit/General/Definitions.cs
  Source/Krypton Components/Krypton.Toolkit/General/KryptonThemedSystemMenuService.cs
  Source/Krypton Components/Krypton.Toolkit/General/PlatformInvoke.cs
  Source/Krypton Components/TestForm/LiveColorPickerDialog.cs
  Source/Krypton Components/TestForm/Main.cs
  Source/Krypton Components/TestForm/PaletteViewer/PaletteSchemeColorExtensions.cs
  Source/Krypton Components/TestForm/SystemMenuTest.Designer.cs
  Source/Krypton Components/TestForm/SystemMenuTest.cs
  Source/Krypton Components/TestForm/SystemMenuTest.resx
  Source/Krypton Components/TestForm/ThemedSystemMenuTest.cs
Labels: area:buildsystem, version:100-lts, assessment:lowpriority

#2493 * Resolved #2492
  Documents/Changelog/Changelog.md
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonForm.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonManager.cs
  Source/Krypton Components/Krypton.Toolkit/Translations/General/GeneralToolkitStrings.cs
Labels: bug, enhancement, area:toolkit, assessment:lowpriority

#2478 * Fix bug as mentioned in #648 - V85
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonThemedSystemMenu.cs
Labels: bug, area:toolkit, version:85-lts

#2517 * Place built NuGet packages into separate directory
  Documents/Changelog/Changelog.md
  Scripts/Project-Files/canary.proj
  Scripts/Project-Files/installer.proj
  Scripts/build.proj
  Scripts/canary.proj
  Scripts/installer.proj
  Scripts/nightly.proj
  Source/Krypton Components/Directory.Build.props
Labels: enhancement, new feature, area:buildsystem, version:100-lts, assessment:lowpriority

#2489 * Revisit #648
  Documents/Changelog/Changelog.md
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonForm.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Toolkit/KryptonSystemMenu.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Visuals/VisualForm.cs
  Source/Krypton Components/Krypton.Toolkit/Controls Visuals/VisualPopupManager.cs
  Source/Krypton Components/Krypton.Toolkit/Converters/KryptonThemedSystemMenuConverter.cs
  Source/Krypton Components/Krypton.Toolkit/Designers/Editors/ThemedSystemMenuItemsEditor.cs
  Source/Krypton Components/Krypton.Toolkit/General/Definitions.cs
  Source/Krypton Components/Krypton.Toolkit/General/KryptonGlobalToolkitStrings.cs
  Source/Krypton Components/Krypton.Toolkit/General/KryptonSystemMenuService.cs
  Source/Krypton Components/Krypton.Toolkit/General/PlatformInvoke.cs
  Source/Krypton Components/Krypton.Toolkit/General/ThemeChangeCoordinator.cs
  Source/Krypton Components/Krypton.Toolkit/General/ThemedSystemMenuItemCollection.cs
  Source/Krypton Components/Krypton.Toolkit/Values/SystemMenuValues.cs
  Source/Krypton Components/Krypton.Toolkit/Values/ThemedSystemMenuItemValues.cs
  Source/Krypton Components/TestForm/AboutBoxTest.Designer.cs
  Source/Krypton Components/TestForm/AboutBoxTest.resx
  Source/Krypton Components/TestForm/BlurExampleForm.Designer.cs
  Source/Krypton Components/TestForm/Bug833Test.Designer.cs
  Source/Krypton Components/TestForm/CustomMessageBoxTest.Designer.cs
  Source/Krypton Components/TestForm/DesignerMenuTest.Designer.cs
  Source/Krypton Components/TestForm/DesignerMenuTest.cs
  Source/Krypton Components/TestForm/FormBorderTest.Designer.cs
  Source/Krypton Components/TestForm/Main.Designer.cs
  Source/Krypton Components/TestForm/Main.resx
  Source/Krypton Components/TestForm/MessageBoxTest.Designer.cs
  Source/Krypton Components/TestForm/PanelForm.Designer.cs
  Source/Krypton Components/TestForm/ProgressBarTest.Designer.cs
  Source/Krypton Components/TestForm/ProgressBarTest.resx
  Source/Krypton Components/TestForm/PropertyGridTest.Designer.cs
  Source/Krypton Components/TestForm/RibbonTest.Designer.cs
  Source/Krypton Components/TestForm/RibbonTest.resx
  Source/Krypton Components/TestForm/StartScreen.Designer.cs
  Source/Krypton Components/TestForm/SystemMenuTest.cs
  Source/Krypton Components/TestForm/ThemeControlExamples.Designer.cs
  Source/Krypton Components/TestForm/VisualControlsTest.Designer.cs
  Source/Krypton Components/TestForm/Workspace.Designer.cs
Labels: area:designer, area:toolkit, version:100-lts, assessment:highpriority
